<div>
  <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit(passwordResetForm.value)">
    <div class="form-container">
      <div class="rows coulmns">
        <label for="password">
          Password:
          <input [(ngModel)]="password" type="password" id="password" name="password" required="required" formControlName="password">
        </label>
        <div class=alert *ngIf="checkIfTouched('password') && !checkIfValid('password')">
          {{requiredMessage}}
        </div>
        <label for="confirmPassword">
          Confirm Password:
          <input  [(ngModel)]="confirmPassword" type="password" id="confirmPassword" name="confirmPassword" required="required" formControlName="confirmPassword">
        </label>
        <div class="alert" *ngIf="checkIfTouched('confirmPassword') && !checkIfValid('confirmPassword')">
          {{requiredMessage}}
        </div>
        <div  class="alert" *ngIf="checkIfTouched('confirmPassword') && !doPasswordsMatch(password, confirmPassword)">
          {{passwordsDontMatchMessage}}
        </div>
        <label for="token">
          Please copy and paste token below:
          <input type="text" id="token" name="token" required="required" formControlName="token">
        </label>
        <div class="alert" *ngIf="checkIfTouched('token') && !checkIfValid('token') ">
          {{requiredMessage}}
        </div>
        <button class="button expanded" type="submit" id="submit" [disabled]="!isFormValid()">Submit</button>
      </div>
    </div>
  </form>
</div>
