<div *ngIf="!name; else forminfo">
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit(updateForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>Update your info here!</h1>
          <label>
            Address:
            <input type="text" id="address" name="address" formControlName="address"/>
          </label>
          <label>
            Phone Number:
            <input type="text" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber"/>
          </label>
          <div class="alert" *ngIf="!updateForm.controls['phoneNumber'].valid && updateForm.controls['phoneNumber'].touched">
            {{phoneNumberValidationMessage}}
          </div>
          <label>
            Email:
            <input type="text" id="email" name="email" formControlName="email"/>
          </label>
          <div class="alert" *ngIf="!updateForm.controls['email'].valid && updateForm.controls['email'].touched">
              {{emailValidationMessage}}
          </div>
         <button type="submit" class="button expanded" id="submit" [disabled]="!updateForm.valid">Submit</button>
      </div>
    </div>
  </form>
</div>
