<div *ngIf="!name; else forminfo">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
  <div class="form-container">
    <h1>Login Here</h1>
      <label for="username">Username: </label>
        <input type="text" id="username" name="username" required="required" formControlName="username"/>
        <div class="alert" *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username'].touched">
            {{validationMessage}}
        </div>
      <label for="password">Password: </label>
       <input type="password" id="password" name="password" required="required" formControlName="password"/>
       <div class="alert" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
          {{validationMessage}}
      </div>
      <button type="submit" class="button expanded" id="submit" [disabled]="!loginForm.valid">Submit</button>
  </div>
</form>
</div>
