<div>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm.value)">
    <div class="form-container">
      <label for="email">
        Please enter your email:
        <input type="text" id="email" name="email" required="required" formControlName="email">
        <div class="alert" id="email-alert" *ngIf="!checkIfValid('email') && checkIfTouched('email')">
          {{validationMessage}}
        </div>
      </label>
      <button type="submit" class="button expanded" type="submit" [disabled]="!isFormValid()">Submit</button>
    </div>
  </form>
</div>
